// =================================================
//
// Content
//
// =================================================

.content {
	@include media($medium) {
		padding-left: 250px;
	}

	@include media($large) {
		padding-left: 350px;
	}
}

.max-width {
	max-width: 1000px;
}
