// =================================================
//
// Content
//
// =================================================

.content {
	@include media(medium) {
		padding-left: 300px;
	}

	@include media(large) {
		padding-left: 350px;
	}
}

.max-width {
	max-width: 1000px;
}
