// =================================================
//
// Sidebar - Nav
//
// =================================================

.sidebar-nav {
	display: none;

	ul {
		margin-bottom: 0;
	}

	li {
		border-bottom: 1px solid $dark-grey;

		.sidebar-link {
			position: relative;
			z-index: 1;
			transition: background-color 0.3s ease-in-out, padding 0.3s $ease-in-out-quart;

			.icon {
				position: absolute;
				z-index: 1;
				left: 25px;
				transition: left 0.3s $ease-in-out-quart;
			}
		}
	}

	.sidebar-link {
		display: block;
		padding: 6px 20px 6px 50px;
		@include media(large) {
			padding: 10px 25px 10px 55px;
		}
	}

	@include media(medium) {
		display: block;
	}
}


.no-touch {
	.sidebar-nav {
		li {
			.sidebar-link:hover {
				background-color: $dark-grey;
				padding-left: 60px;
				@include media(large) {
					padding-left: 70px;
				}

				.icon {
					left: 35px;
					@include media(large) {
						left: 40px;
					}
				}
			}
		}
	}
}
