// =================================================
//
// Sidebar - Nav
//
// =================================================

.sidebar-nav {
	display: none;

	ul {
		margin-bottom: 0;
	}

	li {
		border-bottom: 1px solid $dark-grey;

		a {
			@include transition(background-color 0.3s ease-in-out);

			i {
				padding-left: 0;
				@include transition(padding 0.3s $ease-in-out-quart);
			}
		}
	}

	a {
		display: block;
		padding: 12px 25px;
	}

	@include media($medium) {
		display: block;
	}
}


.no-touch {
	.sidebar-nav {
		li {
			a:hover {
				background-color: $dark-grey;
				i {
					padding-left: 15px;
				}
			}
		}
	}
}