// =================================================
//
// Sidebar - Profile
//
// =================================================

.sidebar-profile {
	position: relative;
	z-index: 1;
	overflow: hidden;
	@include selfclear;

	.sidebar-profile-img {
		position: relative;
		z-index: 1;
		img {
			@include media(medium) {
				margin: -6px 0;
			}
		}
	}

	.sidebar-details {
		position: relative;
		z-index: 2;
		padding: 10px 0 10px 22px;
		background: $grey;

		@include media(large) {
			padding: 15px 0 15px 25px;
			font-size: 0.9rem;
		}

		.sidebar-profile-name {
			display: none;
		}

		.sidebar-profile-name,
		.sidebar-profile-link {
			font-size: 0.9rem;
			@include media(large) {
				font-size: 1rem;
			}
		}

		ul {
			margin-bottom: 0;
			line-height: 1.8rem;
		}
	}

	@include media(medium) {
		.sidebar-details {
			background: $light-grey;

			.sidebar-profile-name {
				display: block;
			}
		}
	}
}
