// =================================================
//
// Sidebar
//
// =================================================

.sidebar {
	position: relative;
	z-index: 10;
	background-color: $grey;
	color: $white;

	@include selfclear;

	a {
		color: $white;
		text-decoration: none;
	}

	@include media(medium) {
		position: fixed;
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
	}

	@include media(large) {
		width: 350px;
	}
}
